<a href="https://colab.research.google.com/github/Griffinw15/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd

In [3]:
#import data
df = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv")

df.shape

(1460, 81)

In [0]:
import numpy as np

In [0]:
df_small = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()

In [11]:
df_small.head(10)

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000
5          796       796       566     143000
6         1686      1694         0     307000
7         1107      1107       983     200000
8          952      1022       752     129900
9          991      1077         0     118000

In [12]:
df_small['TotalSF'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF'] 

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [14]:
df_small['PricePerSqFt'] = df_small['SalePrice'] / df_small['TotalSF']

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqFt
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

In [16]:
from google.colab import files
uploaded=files.upload()

Saving LoanStats_2018Q4.csv to LoanStats_2018Q4.csv

In [18]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)
#I can't remember how we noticed that we needed skiprows

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [19]:
df.isnull().sum().sort_values()
#getting diff numbers than instructor, not sure why

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
                                               ...
orig_projected_additional_accrued_interest    128174
id                                            128412
url                                           128414
member_id                                     128414
desc                                          128414
Length: 144, dtype: int64

In [20]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)
#can't remember how we found out we need to skip 2 feet
#still have diff numbers?
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [21]:
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
                                               ...
orig_projected_additional_accrued_interest    128172
url                                           128412
member_id                                     128412
desc                                          128412
id                                            128412
Length: 144, dtype: int64

In [0]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [24]:
df.head(10)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      35000        35000  ...                    NaN             NaN
1       5000         5000  ...                    NaN             NaN
2      10000        10000  ...                    NaN             NaN
3      17100        17100  ...                    NaN             NaN
4       4000         4000  ...                    NaN             NaN
5      10475        10475  ...                    NaN             NaN
6       7500         7500  ...                    NaN             NaN
7       3600         3600  ...                    NaN             NaN
8      22000        22000  ...                    NaN             NaN
9      10450        10450  ...                    NaN             NaN

[10 rows x 140 columns]

In [25]:
df['int_rate'][:10]

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
5     11.31%
6     11.31%
7     11.80%
8     11.80%
9     18.94%
Name: int_rate, dtype: object

In [26]:
df['int_rate'].describe()

count      128412
unique         46
top        13.56%
freq         6972
Name: int_rate, dtype: object

In [27]:
new_int_rate = []
#why do we put the list thing above this?
for cell in df['int_rate']:
  new_int_rate.append(float(cell.strip().strip('%')))

new_int_rate

[14.47,
 22.35,
 23.4,
 18.94,
 10.72,
 11.31,
 11.31,
 11.8,
 11.8,
 18.94,
 16.91,
 14.47,
 11.8,
 23.4,
 17.97,
 11.8,
 19.92,
 17.97,
 26.31,
 14.47,
 23.4,
 23.4,
 20.89,
 26.31,
 14.47,
 14.47,
 16.14,
 16.14,
 12.98,
 10.72,
 23.4,
 19.92,
 10.33,
 15.02,
 17.97,
 18.94,
 11.31,
 14.47,
 17.97,
 16.14,
 16.14,
 17.97,
 12.98,
 23.4,
 6.46,
 10.33,
 14.47,
 10.33,
 27.27,
 16.91,
 15.02,
 12.98,
 14.47,
 17.97,
 16.14,
 18.94,
 11.31,
 7.56,
 12.98,
 10.72,
 14.47,
 13.56,
 13.56,
 14.47,
 12.98,
 27.27,
 16.14,
 16.14,
 11.31,
 11.8,
 7.56,
 10.72,
 11.8,
 17.97,
 11.31,
 8.19,
 16.91,
 14.47,
 11.31,
 17.97,
 8.19,
 20.89,
 27.27,
 15.02,
 17.97,
 8.81,
 14.47,
 12.98,
 11.31,
 23.4,
 16.14,
 15.02,
 14.47,
 10.72,
 14.47,
 14.47,
 8.81,
 10.33,
 18.94,
 15.02,
 30.75,
 8.19,
 16.14,
 17.97,
 10.72,
 11.31,
 16.14,
 22.35,
 15.02,
 10.72,
 19.92,
 20.89,
 14.47,
 11.8,
 20.89,
 18.94,
 15.02,
 17.97,
 10.72,
 15.02,
 16.14,
 16.14,
 15.02,
 10.33,
 20.89,
 23.4,
 12.98,
 13.56,
 18.94,
 13.56,
 15.02,
 15.02,
 11.31,
 27.27,
 11.31,
 23.4,
 10.33,
 18.94,
 11.31,
 11.8,
 12.98,
 11.8,
 14.47,
 10.72,
 11.8,
 20.89,
 6.46,
 14.47,
 11.31,
 17.97,
 16.91,
 11.8,
 14.47,
 16.14,
 20.89,
 10.33,
 8.81,
 14.47,
 13.56,
 10.72,
 17.97,
 14.47,
 19.92,
 14.47,
 16.91,
 13.56,
 12.98,
 12.98,
 16.14,
 15.02,
 14.47,
 13.56,
 16.91,
 14.47,
 17.97,
 23.4,
 10.72,
 11.8,
 18.94,
 11.31,
 11.31,
 17.97,
 15.02,
 12.98,
 15.02,
 18.94,
 26.31,
 15.02,
 27.27,
 16.14,
 17.97,
 12.98,
 20.89,
 20.89,
 22.35,
 8.81,
 23.4,
 12.98,
 16.14,
 22.35,
 6.46,
 12.98,
 15.02,
 16.91,
 25.34,
 14.47,
 10.72,
 19.92,
 17.97,
 12.98,
 16.14,
 10.33,
 20.89,
 15.02,
 10.33,
 23.4,
 16.14,
 13.56,
 8.19,
 6.46,
 13.56,
 16.14,
 12.98,
 16.14,
 14.47,
 12.98,
 10.33,
 18.94,
 15.02,
 13.56,
 14.47,
 16.14,
 15.02,
 16.91,
 14.47,
 13.56,
 12.98,
 23.4,
 26.31,
 16.14,
 17.97,
 13.56,
 16.91,
 10.72,
 14.47,
 16.91,
 13.56,
 11.31,
 16.14,
 15.02,
 10.33,
 18.94,
 16.91,
 8.19,
 10.33,
 7.56,
 8.81,
 7.02,
 11.8,
 13.56,
 13.56,
 10.72,
 11.8,
 14.47,
 8.19,
 7.56,
 18.94,
 10.72,
 20.89,
 16.91,
 18.94,
 22.35,
 10.33,
 14.47,
 12.98,
 23.4,
 22.35,
 14.47,
 7.02,
 7.56,
 17.97,
 8.81,
 10.72,
 11.8,
 10.33,
 22.35,
 11.31,
 8.81,
 20.89,
 19.92,
 15.02,
 8.19,
 8.81,
 13.56,
 14.47,
 7.02,
 16.14,
 8.19,
 18.94,
 12.98,
 10.33,
 6.46,
 8.19,
 19.92,
 8.19,
 8.19,
 7.02,
 17.97,
 12.98,
 11.31,
 15.02,
 13.56,
 16.14,
 8.19,
 16.91,
 7.02,
 7.02,
 19.92,
 16.91,
 8.19,
 11.8,
 8.81,
 7.02,
 10.72,
 11.8,
 11.8,
 16.91,
 7.56,
 10.72,
 10.72,
 16.14,
 8.19,
 8.19,
 10.72,
 15.02,
 10.33,
 11.8,
 19.92,
 14.47,
 17.97,
 8.19,
 15.02,
 7.56,
 17.97,
 16.14,
 8.81,
 12.98,
 10.72,
 11.8,
 8.19,
 10.33,
 6.46,
 8.19,
 12.98,
 15.02,
 16.14,
 8.81,
 23.4,
 10.33,
 8.81,
 22.35,
 15.02,
 7.56,
 7.02,
 10.72,
 14.47,
 10.33,
 14.47,
 7.02,
 6.46,
 11.8,
 15.02,
 19.92,
 8.19,
 11.8,
 12.98,
 11.8,
 8.81,
 15.02,
 11.8,
 7.02,
 11.8,
 11.31,
 6.46,
 8.19,
 10.33,
 11.8,
 23.4,
 14.47,
 13.56,
 19.92,
 11.8,
 8.19,
 10.72,
 8.19,
 20.89,
 16.91,
 10.72,
 8.19,
 6.46,
 7.02,
 15.02,
 8.19,
 22.35,
 8.81,
 7.56,
 12.98,
 6.46,
 12.98,
 11.31,
 7.56,
 11.31,
 18.94,
 7.02,
 19.92,
 24.37,
 16.91,
 8.81,
 16.14,
 8.19,
 12.98,
 18.94,
 13.56,
 6.46,
 8.19,
 11.8,
 15.02,
 6.46,
 11.8,
 8.81,
 17.97,
 8.81,
 11.31,
 18.94,
 23.4,
 14.47,
 13.56,
 18.94,
 11.31,
 11.8,
 13.56,
 8.81,
 8.81,
 7.56,
 10.33,
 6.46,
 11.31,
 13.56,
 6.46,
 11.8,
 18.94,
 7.02,
 10.72,
 6.46,
 11.8,
 10.33,
 7.02,
 7.02,
 16.91,
 17.97,
 10.72,
 10.33,
 8.19,
 8.19,
 16.91,
 8.19,
 10.72,
 11.8,
 10.33,
 8.19,
 11.8,
 18.94,
 8.19,
 8.81,
 16.14,
 7.56,
 20.89,
 7.02,
 16.91,
 13.56,
 8.81,
 17.97,
 24.37,
 11.8,
 8.19,
 11.8,
 27.27,
 26.31,
 11.8,
 22.35,
 10.72,
 8.81,
 7.02,
 7.56,
 16.14,
 19.92,
 15.02,
 16.14,
 12.98,
 8.19,
 8.81,
 6.46,
 16.14,
 11.31,
 19.92,
 13.56,
 16.91,
 15.02,
 16.14,
 8.19,
 12.98,
 6.46,
 11.8,
 23.4,
 12.98,
 18.94,
 23.4,
 15.02,
 6.46,
 18.94,
 26.31,
 8.19,
 12.98,
 13.56,
 11.31,
 12.98,
 11.8,
 16.91,
 6.46,
 15.02,
 7.56,
 12.98,
 15.02,
 6.46,
 11.8,
 11.31,
 6.46,
 8.81,
 14.47,
 10.33,
 18.94,
 18.94,
 17.97,
 6.46,
 8.81,
 11.8,
 10.72,
 11.8,
 10.33,
 10.72,
 11.8,
 7.56,
 8.19,
 11.8,
 19.92,
 10.33,
 16.14,
 8.19,
 10.33,
 19.92,
 10.72,
 10.33,
 10.33,
 8.81,
 23.4,
 8.81,
 16.14,
 14.47,
 7.02,
 8.81,
 8.81,
 11.8,
 24.37,
 8.81,
 13.56,
 7.02,
 8.19,
 8.81,
 8.81,
 13.56,
 14.47,
 7.56,
 11.8,
 7.02,
 23.4,
 7.02,
 13.56,
 17.97,
 15.02,
 7.56,
 14.47,
 6.46,
 13.56,
 6.46,
 16.14,
 6.46,
 7.56,
 11.31,
 23.4,
 11.8,
 27.27,
 10.72,
 7.02,
 8.19,
 6.46,
 16.14,
 16.91,
 8.19,
 7.02,
 15.02,
 6.46,
 11.8,
 11.8,
 12.98,
 11.8,
 12.98,
 11.31,
 16.91,
 16.91,
 8.81,
 10.72,
 10.72,
 8.19,
 27.27,
 7.56,
 10.72,
 13.56,
 11.31,
 8.81,
 15.02,
 16.14,
 13.56,
 10.33,
 8.81,
 7.02,
 14.47,
 22.35,
 8.19,
 8.81,
 11.8,
 15.02,
 6.46,
 7.02,
 17.97,
 16.91,
 12.98,
 10.72,
 8.19,
 8.19,
 13.56,
 11.8,
 17.97,
 19.92,
 14.47,
 6.46,
 16.14,
 7.56,
 12.98,
 12.98,
 12.98,
 17.97,
 6.46,
 11.8,
 8.81,
 11.8,
 8.19,
 6.46,
 26.31,
 7.02,
 13.56,
 23.4,
 10.33,
 10.33,
 20.89,
 6.46,
 10.33,
 14.47,
 16.14,
 22.35,
 14.47,
 14.47,
 8.81,
 15.02,
 14.47,
 6.46,
 13.56,
 11.8,
 11.8,
 6.46,
 7.56,
 11.8,
 12.98,
 18.94,
 16.91,
 6.46,
 10.33,
 25.34,
 14.47,
 7.02,
 8.19,
 10.33,
 10.33,
 8.19,
 22.35,
 11.31,
 27.27,
 10.72,
 26.31,
 13.56,
 16.91,
 13.56,
 10.33,
 20.89,
 13.56,
 8.19,
 16.14,
 8.19,
 7.02,
 10.72,
 7.02,
 8.19,
 8.19,
 15.02,
 27.27,
 11.8,
 8.19,
 12.98,
 8.81,
 10.72,
 26.31,
 7.02,
 6.46,
 7.02,
 6.46,
 16.91,
 10.72,
 15.02,
 12.98,
 11.8,
 8.19,
 23.4,
 12.98,
 6.46,
 7.56,
 10.33,
 8.19,
 8.19,
 11.31,
 8.19,
 10.72,
 12.98,
 7.56,
 11.31,
 8.81,
 6.46,
 6.46,
 15.02,
 8.19,
 6.46,
 12.98,
 10.33,
 10.72,
 6.46,
 10.72,
 13.56,
 7.02,
 11.8,
 7.56,
 11.31,
 6.46,
 11.8,
 6.46,
 26.31,
 16.91,
 10.72,
 14.47,
 11.31,
 8.19,
 14.47,
 7.56,
 10.72,
 11.31,
 11.8,
 7.56,
 10.33,
 14.47,
 7.56,
 11.8,
 27.27,
 24.37,
 8.19,
 11.31,
 11.31,
 6.46,
 17.97,
 11.8,
 11.31,
 10.33,
 6.46,
 6.46,
 6.46,
 8.81,
 16.91,
 8.19,
 8.81,
 22.35,
 11.8,
 16.91,
 10.72,
 14.47,
 10.72,
 10.72,
 8.81,
 6.46,
 6.46,
 11.8,
 13.56,
 8.19,
 7.02,
 12.98,
 6.46,
 14.47,
 10.33,
 6.46,
 17.97,
 8.19,
 13.56,
 10.33,
 8.19,
 10.33,
 15.02,
 14.47,
 8.19,
 6.46,
 7.02,
 16.91,
 13.56,
 8.19,
 7.02,
 11.31,
 20.89,
 10.33,
 12.98,
 10.72,
 16.14,
 7.02,
 24.37,
 16.14,
 11.8,
 10.33,
 11.8,
 8.19,
 12.98,
 8.19,
 14.47,
 20.89,
 16.14,
 10.72,
 15.02,
 12.98,
 19.92,
 8.81,
 16.14,
 6.46,
 6.46,
 7.02,
 10.72,
 11.8,
 7.02,
 6.46,
 12.98,
 8.81,
 7.56,
 8.81,
 7.02,
 14.47,
 18.94,
 12.98,
 7.56,
 7.02,
 7.02,
 8.81,
 19.92,
 7.56,
 16.14,
 6.46,
 13.56,
 8.81,
 12.98,
 14.47,
 8.19,
 7.56,
 8.19,
 11.8,
 13.56,
 10.72,
 16.14,
 11.8,
 7.56,
 19.92,
 10.33,
 8.81,
 13.56,
 15.02,
 13.56,
 17.97,
 10.72,
 11.8,
 17.97,
 12.98,
 8.81,
 10.72,
 15.02,
 11.8,
 11.8,
 8.19,
 8.19,
 11.8,
 11.8,
 11.8,
 13.56,
 11.8,
 12.98,
 12.98,
 10.72,
 8.19,
 13.56,
 12.98,
 10.72,
 11.8,
 16.91,
 12.98,
 11.8,
 11.8,
 11.31,
 7.56,
 10.72,
 17.97,
 18.94,
 11.31,
 7.02,
 10.33,
 7.02,
 10.72,
 7.02,
 7.56,
 23.4,
 8.19,
 17.97,
 7.02,
 11.8,
 11.31,
 8.19,
 10.72,
 11.8,
 6.46,
 8.19,
 16.91,
 10.33,
 7.02,
 19.92,
 6.46,
 11.31,
 6.46,
 6.46,
 11.8,
 10.33,
 16.91,
 16.91,
 11.8,
 10.33,
 10.72,
 15.02,
 10.72,
 16.14,
 16.14,
 18.94,
 14.47,
 10.33,
 14.47,
 12.98,
 8.19,
 16.14,
 7.56,
 15.02,
 11.8,
 7.56,
 6.46,
 11.31,
 6.46,
 11.31,
 11.8,
 10.72,
 7.56,
 15.02,
 7.56,
 11.31,
 6.46,
 15.02,
 8.19,
 ...]

In [0]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [30]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      35000        35000  ...              NaN          14.47
1       5000         5000  ...              NaN          22.35
2      10000        10000  ...              NaN          23.40
3      17100        17100  ...              NaN          18.94
4       4000         4000  ...              NaN          10.72

[5 rows x 141 columns]

In [31]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [32]:
len(df['emp_title'].value_counts())

43892

In [0]:
import numpy as np

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [0]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
#not sure what second .title() after return is for
cleaned_titles = []
for example in examples:
  cleaned_titles.append(clean_title(example))

cleaned_titles

In [36]:
#or you can use list comprehensions for ease
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [38]:
df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      35000        35000  ...              NaN          14.47
1       5000         5000  ...              NaN          22.35
2      10000        10000  ...              NaN          23.40
3      17100        17100  ...              NaN          18.94
4       4000         4000  ...              NaN          10.72

[5 rows x 141 columns]

In [39]:
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [40]:
df['emp_title'].isnull().sum()

0

In [41]:
len(df['emp_title'].value_counts())

34902

In [42]:
[col for col in df if col.endswith('_d')]
#now working with pandas dates
#this returns all column names ending
#with _d 
##Not sure about the col for col part?

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [43]:
df['issue_d'].value_counts()

Oct-2018    46305
Nov-2018    41973
Dec-2018    40134
Name: issue_d, dtype: int64

In [44]:
df['issue_d'].head()
#this looks at the str version

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [46]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [47]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [51]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      35000        35000  ...        2018          12
1       5000         5000  ...        2018          12
2      10000        10000  ...        2018          12
3      17100        17100  ...        2018          12
4       4000         4000  ...        2018          12

[5 rows x 143 columns]

In [53]:
df['earliest_cr_line'].head()

0    Apr-1995
1    Mar-2010
2    Apr-2007
3    Mar-1998
4    Sep-2006
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [57]:
(df['issue_d'] - df['earliest_cr_line']).dt.days

0          8645
1          3197
2          4262
3          7580
4          4474
          ...
128407    12114
128408    13241
128409     4505
128410     3652
128411     4413
Length: 128412, dtype: int64

In [60]:
new_terms = [] 

for cell in df['term']:
  new_terms.append(int(cell.strip().strip('months')))

new_terms

[36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 60,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 60,
 60,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 60,
 60,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 60,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 60,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 60,
 60,
 36,
 36,
 60,
 60,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 60,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 60,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 60,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 60,
 60,
 60,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 60,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 60,
 60,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 60,
 36,
 60,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 60,
 60,
 60,
 36,
 36,
 60,
 60,
 60,
 60,
 36,
 36,
 36,
 60,
 60,
 36,
 36,
 60,
 36,
 36,
 60,
 36,
 36,
 36,
 36,
 60,
 36,
 36,
 36,
 ...]

In [0]:
def str_months_to_int(cell_contents):
  return int(cell_contents.strip().strip('months'))

In [0]:
 df['term'] = df['term'].apply(str_months_to_int)

In [68]:
df.head(
)

   loan_amnt  funded_amnt  funded_amnt_inv  ...  issue_year issue_month  new_terms
0      35000        35000          35000.0  ...        2018          12         36
1       5000         5000           5000.0  ...        2018          12         36
2      10000        10000          10000.0  ...        2018          12         60
3      17100        17100          17100.0  ...        2018          12         36
4       4000         4000           4000.0  ...        2018          12         36

[5 rows x 144 columns]

In [66]:
df['loan_status'].value_counts()

Current               94805
Fully Paid            23573
Charged Off            6071
Late (31-120 days)     2582
In Grace Period         881
Late (16-30 days)       496
Default                   4
Name: loan_status, dtype: int64

In [0]:
def loan_status_is_done(cell):
  if cell=="Current" or cell=="Fully Paid":
    return "True"
  else:
    return "False"

In [0]:
df['loan_status_is_great'] = [loan_status_is_done(status) for status in df['loan_status']]

In [94]:
df.tail(10)

        loan_amnt  funded_amnt  ...  new_terms  loan_status_is_great
128402      17500        17500  ...         60                  True
128403      20000        20000  ...         36                  True
128404      22000        22000  ...         60                  True
128405       5000         5000  ...         36                  True
128406       5600         5600  ...         36                  True
128407      23000        23000  ...         36                 False
128408      10000        10000  ...         36                  True
128409       5000         5000  ...         36                  True
128410      10000        10000  ...         36                  True
128411      10000        10000  ...         36                  True

[10 rows x 145 columns]

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [0]:
df['last_pymnt_d_month'] =  df['last_pymnt_d'].dt.month

In [0]:
df['last_pymnt_d_year'] =  df['last_pymnt_d'].dt.year

In [103]:
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      35000        35000  ...                 8.0             2019.0
1       5000         5000  ...                 7.0             2019.0
2      10000        10000  ...                 1.0             2020.0
3      17100        17100  ...                 1.0             2020.0
4       4000         4000  ...                 1.0             2020.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01